name: Auto Update Wiki and README

on:
  schedule:
    - cron: '* */6 * * *'  # 每 10 分钟执行一次
  workflow_dispatch:       # 支持手动触发

permissions:
  contents: write  # 允许写入仓库内容

jobs:
  update-wiki-readme:
    runs-on: ubuntu-latest

    steps:
      # 1. 检出主仓库（包含 README.md 和脚本）
      - name: Checkout Main Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # 2. 克隆 Wiki 仓库到 wiki 目录
      - name: list file and dir
        run: |
          ls -lah

      # 6. 提交和推送更新到主仓库（README.md）
      - name: Commit and Push repo Updates
        run: |
          find . -maxdepth 1 -type f -exec rm -f {} +
          git clone https://github.com/Alvin9999-newpac/fanqiang.git
          rsync -av --exclude '.git/'  fanqiang/ .
          rm -rf fanqiang
          git config --local user.name "github-actions"
          git config --local user.email "actions@github.com"
          git add .
          git commit -m "Auto-update repo: Update timestamp" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/jumploop/new-pac.git

      # 7. 提交和推送更新到 Wiki 仓库
      - name: Commit and Push Wiki Updates
        run: |
          git clone https://github.com/Alvin9999-newpac/fanqiang.wiki.git
          rsync -av --exclude '.git/' --delete fanqiang.wiki/ wiki
          rm -rf fanqiang.wiki
          cd wiki
          git config --local user.name "github-actions"
          git config --local user.email "actions@github.com"
          git add .
          git commit -m "Auto-update Wiki: Increment domains and update timestamp" || echo "No changes to commit"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/jumploop/new-pac.wiki.git
